.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

} 

.heart{
  color: red;
}
.post{
border: 1px solid black;
width: 30%;
border-radius: 5px;
padding: 2%;
margin: 2%;

}

